<div class="col-md-6">
    <table class="table table-striped sortable">
        <thead>
        <th data-defaultsort="asc">Id <i class="fa fa-fw fa-sort"></i></th>
        <th>Role<i class="fa fa-fw fa-sort"></i></th>
        <th>User Name<i class="fa fa-fw fa-sort"></i></th>
        <th>E-Mail<i class="fa fa-fw fa-sort"></i></th>
        <th># of Posts<i class="fa fa-fw fa-sort"></i></th>
        </thead>
        <tbody>
        {{#each users}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.role}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.post_count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script src="/public/js/moment.min.js"></script>
<script src="/public/js/bootstrap-sortable.js"></script>