<div class="col-md-6">
    <table class="table table-striped sortable">
        <thead>
        <th>ID &nbsp; &nbsp; &nbsp;<i class="fa fa-fw fa-sort"></i></th>
        <th>Name &nbsp; &nbsp; &nbsp;<i class="fa fa-fw fa-sort"></i></th>
        <th>Posts &nbsp; &nbsp; &nbsp;<i class="fa fa-fw fa-sort"></i></th>
        </thead>
        <tbody>
        {{#each categories}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.post_count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <div class="container">
        <form class="form-horizontal" id="new-category-form" method="post" action="/admin/categories/new/create">
            <div class="form-group">
                <div class="col-xs-6">
                    <input class="form-control" type="text" name="categoryname" placeholder="Category Name" value="" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/public/js/moment.min.js"></script>
<script src="/public/js/bootstrap-sortable.js"></script>