<div class="container">
    <form class="form-horizontal" id="new-category-form" method="post" action="/admin/categories/new/create">
        <div class="form-group">
            <label for="inputName" class="control-label col-xs-1">Category Name</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" name="categoryname" value="" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-10">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </form>
</div>