<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Simple Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" class="color-me">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="{{#if user}}display:none;{{/if}}"><a href="/user/signup">Sign Up</a></li>
                <li style="{{#if user}}display:none;{{/if}}"><a href="/user/signin">Log In</a></li>
                <li style="{{#ifCond user.role "!=" "admin"}}display:none;{{/ifCond}}"><a href="/admin/">Admin Panel</a>
                <li style="{{#unless user}}display:none;{{/unless}}"><a href="/user/{{user.username}}"><i class="glyphicon glyphicon-user" style="margin-right: 10px;"></i>{{user.username}}</a></li>
                <li style="{{#unless user}}display:none;{{/unless}}"><a href="/user/signout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>