{{!< layout/default}}
<div class="row">

    <div class="col-sm-8 blog-main">

        {{#each posts}}
            <div class="blog-post">
                <h2 class="blog-post-title"><a class="post-link" href="/{{this.title_slug}}/">{{this.title}}</a></h2>
                <p class="blog-post-meta">{{getPrettyDate this.date "MMMM D, YYYY"}} by
                    <a class="user-link" href="/user/{{this.owner.username}}">{{this.owner.username}}</a>.
                    Category: <a class="user-link" href="/category/{{this.category.name_slug}}">{{this.category.name}}</a>
                </p>
                <p>{{{this.content}}}</p>
            </div>
        {{/each}}

        <nav>
            <ul class="pager">
                <li class="{{getPaginationVisibility page 0 totalPosts}} previous"><a href="/category/{{category}}{{getCategoryPaginationLink page 0}}">Previous</a></li>
                <li class="{{getPaginationVisibility page 1 totalPosts}} next"><a href="/category/{{category}}{{getCategoryPaginationLink page 1}}">Next</a></li>
            </ul>
        </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {{#each dates}}
                    <li><a href="/archive/{{getDateLink this}}/">{{this}}</a></li>
                {{/each}}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
                {{#each categories}}
                    <li><a href="/category/{{this.name_slug}}/">{{this.name}}</a> ({{this.post_count}})</li>
                {{/each}}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->

</div><!-- /.row -->