{{!< layout/default}}

<div class="row">

    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title"><a class="post-link"
                                           href="/{{post.title_slug}}/">{{post.title}}</a>
            </h2>

            <p class="blog-post-meta">{{getPrettyDate post.date "MMMM D, YYYY"}} by
                <a class="user-link" href="/user/{{post.owner.username}}">{{post.owner.username}}</a>.
                Category: <a class="user-link" href="/category/{{post.category.name_slug}}">{{post.category.name}}</a>
            </p>

            <p>{{{post.content}}}</p>
        </div>

        <nav>
            <ul class="pager">
                <li class="previous" style="{{#unless previous_post}}display:none;{{/unless}}"><a href="/{{previous_post.title_slug}}/">{{previous_post.title}}</a></li>
                <li class="next" style="{{#unless next_post}}display:none;{{/unless}}"><a href="/{{next_post.title_slug}}/">{{next_post.title}}</a></li>
            </ul>
        </nav>

    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>

            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {{#each dates}}
                    <li><a href="/archive/{{getDateLink this}}/">{{this}}</a></li>
                {{/each}}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
                {{#each categories}}
                    <li><a href="/category/{{this.name_slug}}/">{{this.name}}</a> ({{this.post_count}})</li>
                {{/each}}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ol>
        </div>
    </div>
    <!-- /.blog-sidebar -->

</div><!-- /.row -->