<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-8 col-md-4">
                    <img src="{{profile.picture}}" alt="" class="img-rounded img-responsive"/>
                </div>
                <div class="col-sm-8 col-md-8">
                    <h4>
                        {{profile.username}}</h4>
                    <small><cite title="San Francisco, USA">San Francisco, USA <i
                            class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>{{user.email}}
                        <br/>
                        <i class="glyphicon glyphicon-gift"></i>Total Posts: {{postCount}}</p>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">
                            Social
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span><span class="sr-only">Social</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{profile.twitter}}">Twitter</a></li>
                            <li><a href="{{profile.facebook}}">Facebook</a></li>
                            <li class="divider"></li>
                            <li><a href="{{profile.github}}">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {{#each dates}}
                    <li><a href="/archive/{{getDateLink this}}/">{{this}}</a></li>
                {{/each}}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
                {{#each categories}}
                    <li><a href="/category/{{this.name_slug}}/">{{this.name}}</a> ({{this.post_count}})</li>
                {{/each}}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->
</div>