{{!< layout/default}}
<div class="sign-page">
    <h4>Sign In</h4>
    <p class="form-error" style="{{#unless error}}display:none;{{/unless}}">
        {{error}}
    </p>
    <form accept-charset="UTF-8" role="form" id="sign-up-form" method="post" action="/user/signin/create">
        <fieldset>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name="username" value="" placeholder="Username" required>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock">
                </i>
                </span>
                <input class="form-control" placeholder="Password" name="password_new" type="password" required>
            </div>
            <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                    <button id="btn-sign-in" href="#" class="btn btn-success">Sign In</button>
                    <button id="btn-clear" class="btn btn-primary">Clear Form</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    $("#btn-clear").click(function() {
        $("#sign-up-form").trigger("reset");
    });
</script>