{{!< layout/default}}
<div class="sign-page">
    <h4>
        Welcome!
    </h4>
    <p class="form-error" style="{{#unless error}}display:none;{{/unless}}">
        {{error}}
    </p>
    <form accept-charset="UTF-8" role="form" id="sign-up-form" method="post" action="/user/signup/create">
        <fieldset>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name="username" value="" placeholder="Username">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">
                @
                </span>
                <input class="form-control" placeholder="Email" name="email" type="email">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock">
                </i>
                </span>
                <input class="form-control" placeholder="Password" name="password_new" type="password">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock">
                </i>
                </span>
                <input class="form-control" placeholder="Repeat Password" name="password_new_2" type="password">
            </div>
            <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                    <button id="btn-register" href="#" class="btn btn-success" type="submit">Register</button>
                    <button id="btn-clear" class="btn btn-primary">Clear Form</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="/public/js/user/public_register.js"></script>
<script>
    $("#btn-clear").click(function() {
        $("#sign-up-form").trigger("reset");
    });

    var errorHandler = function (request, reply) {
        var cookie = request.session.get("errors");
        var errors = cookie.key;
        if (!errors) {
            alert("Hello");
        }
    };
</script>