<div class="container">
    <table class="table table-striped sortable">
        <thead>
        <th data-defaultsort="asc">Id <i class="fa fa-fw fa-sort"></i></th>
        <th>Date<i class="fa fa-fw fa-sort"></i></th>
        <th>Title<i class="fa fa-fw fa-sort"></i></th>
           <th>Slug<i class="fa fa-fw fa-sort"></i></th>
        <th>Owner<i class="fa fa-fw fa-sort"></i></th>
        <th>Category<i class="fa fa-fw fa-sort"></i></th>
        <th>Content<i class="fa fa-fw fa-sort"></i></th>
        </thead>
        <tbody>
        {{#each posts}}
            <tr>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                <td>{{this._id}}</td>
                <td>{{getPrettyDate this.date "DD/MM/YYYY HH:mm"}}</td>
                <td>{{this.title}}</td>
                <td>{{this.title_slug}}</td>
                <td>{{this.owner.username}}</td>
                <td>{{this.category.name}}</td>
                <td>{{getShortDesc this.content}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script src="/public/js/moment.min.js"></script>
<script src="/public/js/bootstrap-sortable.js"></script>