<div class="container">
    <div class="row">
        <form class="form-horizontal" method="post" action="/admin/posts/new/create">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control" name="title" id="inputTitle" required>
                </div>
                <div class="form-group">
                    <label for="inputContent">Content</label>
                <textarea class="form-control" rows="8" name="content" id="inputContent" Data-autosave="Editor-content"
                          required></textarea>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" id="category">
                        {{#each categories}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                <input type="hidden" name="owner" value="{{user._id}}">
            </div>
        </form>
    </div>
    <div class="row">
        <form enctype="multipart/form-data" id="image_upload" class="form-horizontal" method="post"
              action="/admin/posts/new/upload_image">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">Select File</label>
                    <input id="image_chooser" name="file_path" type="file" class="file" multiple
                           data-show-upload="true"
                           data-allowed-file-extensions='["png", "jpg", "jpeg]'>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
    <div class="row">
        <p style="{{#unless uploaded}}display:none{{/unless}}">{{blabla}}</p>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Image Uploaded Successfully</h4>
            </div>
            <div class="modal-body">
                <p id="modal_url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    var editor = new Simditor({
        textarea: $('#inputContent')
    });

    $('#image_upload').on('submit', (function (e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                var url = data.url;
                $("#modal_url").text(url);
                $("#myModal").modal("show");
            },
            error: function (data) {
                console.log("error");
                console.log(data);
            }
        });
    }));
</script>